@page "/counter"

<h1>Contador</h1>

<p>Contador atual: @currentCount</p>

<button class="btn btn-info" @onclick="IncrementCount">Clique aqui</button>

@code {
    private double currentCount = 1; 
    
    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
